[Service]
ExecStart=/var/www/www-root/data/www/financebot.ru/.venv/bin/python3 /var/www/www-root/data/www/financebot.ru/main.py
Restart=always

[Install]
WantedBy=multi-user.target